@import "variables";
@import "mixins";

.exel__toolbar{
  position: absolute;
  height: $toolbar-height;

  left: 0;
  right: 0;
  top: $header-height;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 20px;

  .button{
    @include button()
  }

}